@media (min-width: 1490px) {
  .container {
    max-width: 1424px;
  }

  .col-xxl-3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 25%;
    max-width: 25%;
  }

}

@media (max-width: 1199px) {

  .wrapper-for-enter {
    display: flex;
    flex-direction: column;

  }

  .main-form-input {
    width: 100%;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .wrapper-for-area, .wrapper-for-square {
    margin-top: 1.5rem;
  }

  .carousel-img-description {
    padding: 1.5rem 1.5rem;
  }

}


@media (max-width: 991px) {

  .main-form {
    margin-top: 5rem;
  }

  .wrapper-for-enter {
    display: flex;
    flex-direction: row;

  }

  .main-form-input {
    width: 22rem;;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }


  .menu-list-item {
    margin-right: 0;
  }

  .menu-list-link {
    font-size: 1.8rem;
  }

  .description-area {
    font-size: 2.2rem;
  }

  .description-price {
    font-size: 2.2rem;
  }

  .description-metro {
    font-size: 1.8rem;
  }

  .btn-no-active {
    width: 18rem;
    font-size: 1.4rem;
    height: 5rem;
  }

}

@media (max-width: 768px) {

  .main-screen-description {
    margin-bottom: 1rem;
  }

  .main-screen-title, .main-screen-offer {
    font-size: 4.4rem;
  }

  .price-new {
    font-size: 6.5rem;
  }

  .main-form-title {
    font-size: 2rem;
  }

  .form-legend {
    font-size: 1.8rem;
  }

  .form-label {
    font-size: 1.4rem;
  }

  .wrapper-for-enter {
    display: flex;
    flex-direction: column;

  }

  .main-form-input {
    width: 100%;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .btn-main {
    height: 5rem;
    width: 24rem;
    font-size: 1.6rem;
  }

  .menu {
    height: 7rem;
  }

  .menu-list-link {
    font-size: 1.4rem;
    line-height: 7rem;
    padding: 0 1rem;
  }

  .about-img-wrapper {
    margin-bottom: 3rem;
  }

  .main-title {
    font-size: 4rem;
  }

  .about-metro-title {
    font-size: 2.2rem;
  }

  .footer-form {
    position: static;
    /*top: 4rem;*/
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: $main-w;
    background-color: $title;
    padding: 3rem 3rem;
    margin-top: 3rem;
  }

  .form-subtitle {
    font-size: 1.6rem;
  }

  .btn-footer-form {
    margin-top: 3rem;
  }

  .carousel-nav {
    //padding: 0;
    font-size: 4rem;
  }

  .footer-contacts {
    font-size: 1.8rem;
  }

  .owl-carousel .owl-item img  {
    height: 20rem;
  }

}


@media (max-width: 520px) {

  .menu {
    height: 6rem;
  }

  .menu-list-item {
    margin-right: 0;
  }

  .menu-list-link {
    font-size: 1.2rem;
    line-height: 6rem;
    padding: 0 0.5rem;
  }


}

@media (max-width: 390px) {

  .menu {
    height: 5rem;
  }

  .menu-list-item {
    margin-right: 0;
  }

  .menu-list-link {
    font-size: 0.9rem;
    padding: 0 0.5rem;
    line-height: 5rem;
  }

  .main-screen-action-descr {
    font-size: 1.4rem;
  }

  .main-screen-title, .main-screen-offer {
    font-size: 3rem;
  }

  .price-new {
    font-size: 5rem;
  }

  .main-form-title, .form-legend {
    font-size: 1.6rem;
  }

  .main-form-input {
    font-size: 1.2rem;
  }

  .btn-main {
    width: 100%;
    font-size: 1.2rem;
  }

  .main-title {
    font-size: 2.5rem;
  }

  .about-metro-title, .about-description, .advantages {
    font-size: 1.6rem;
  }

  .carousel-nav {
    padding: 0.5rem;
    font-size: 2rem;
  }

  .footer-contacts {
    font-size: 1.6rem;
  }


}






