// colors

$grafit: #FF7143;
$kapital: #7AC751;
$zolotoe: #2B2BC4;
$iqpark: #439AFF;
$main-w: #ffffff;
$title: #464646;
$description: #747474;
$grey: #AFAFAF;
$no-active: #E4E4E4;

$theme-colors: ();
$theme-colors: map-merge(
    (
            "grafit": $grafit,
            "kapital": $kapital,
            "zolotoe": $zolotoe,
            "iqpark": $iqpark,
    ),
    $theme-colors
);




