@import "vars";
@import "fonts";
@import "common";
@import 'owl-carousel';

//----------------------------------Main Screen-------------------------------//
//----------------------------------------------------------------------------//

.main-screen-bg {
  position: relative;
  background: url('../img/main-bg.jpg') center;
  background-size: cover;
  //padding-bottom: 10rem;
  padding-bottom: 5rem;
  z-index: 1;
}

.main-screen-bg::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.main-screen-content {
  color: $main-w;
  position: relative;
  z-index: 10;
}

.main-phone {
  color: $main-w;
  font-size: 1.8rem;
  margin-top: 4rem;
}

.main-screen-icon {
  fill: $main-w;
  width: 2rem;
  height: 2rem;
}

.main-screen-description {
  //margin-top: 16rem;
  margin-top: 8rem;
  margin-bottom: 11.5rem;
}

.main-screen-action-descr {
  text-transform: uppercase;
  font-size: 1.8rem;
}

.main-screen-title {
  font-size: 5rem;
  line-height: 1.22;
}

.main-screen-offer {
  font-size: 5.2rem;
  margin-bottom: 5rem;
  position: relative;
}

.price-old {
  position: relative;
}

.price-old::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  bottom: 0;
  border-top-width: 4px;
  border-top-style: solid;
  z-index: 15;
}

.price-new {
  font-size: 8rem;
}

.btn-main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  height: 6rem;
  width: 26rem;
 // padding: 0 2rem;
  color: $main-w;
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 1.8rem;
  border-radius: 0.6rem;
}

.main-form {
  background-color: $title;
  padding: 4rem;
  width: 100%;
}

.main-form-title {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.wrapper-for-enter {
  display: flex;
  flex-direction: row;
  //flex-wrap: wrap;
  justify-content: flex-start;
}

.main-form-input {
  border-radius: 0.3rem;
  border: 2px solid $main-w;
  padding: 1rem;
  font-size: 2rem;
  width: 22rem;
  color: $main-w;
  margin-right: 3rem;
}

.wrapper-for-area, .wrapper-for-square, .wrapper-for-button {
  margin-top: 3rem;
}

.form-legend {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.form-label {
  font-size: 1.6rem;
  position: relative;
  padding-left: 3rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.form-check {
  display: none;
}

.form-label::after {
  font-family: 'Font Awesome';
  content: '\f00c';
  color: $main-w;
  font-weight: 900;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  left: 0.3rem;
  top: 15%;
  display: none;
  font-size: 1.5rem;
  line-height: 1;
  flex: none;
  z-index: 20;
}

.form-label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 10%;
  width: 2rem;
  height: 2rem;
  border: 2px solid $main-w;
  border-radius: 0.3rem;
}

.form-check:checked+.form-label::after {
  display: inline-block;
}

.form-note {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.25rem;
  text-align: justify;
  a {
    color: $main-w;
  }
}


.arrow {
  width: 5rem;
  height: 5rem;
}

.arrow-next-icon, .arrow-prev-icon {
  display: inline-block;
  width: 5rem;
  height: 5rem;
}

.arrow-next-icon {
  margin-left: 1rem;
}

.circle {
  display: inline-flex;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: $description;
  margin-left: 0.5rem;
}

.main-screen-page {
  font-size: 2.4rem;
}

//----------------------Navigation----------------------//

.menu {
  background-color: $main-w;
  height: 8rem;
}

.menu-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap !important;
  align-items: center;
  justify-content: center;
  /*height: 8rem;*/
  padding: 0;
}

.menu-list-item {
  position: relative;
  margin-right: 3rem;
}

.menu-list-link {
  display: block;
  position: relative;
  color: $title;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 8rem;
  padding: 0 2rem;
  transition: all 250ms ease;

  &:before{
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    top: 10%;
    left: 0;
    transition: all 0ms ease;
  }

  &:after{
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 10%;
    left: 0;
    transition: all 0ms ease;
  }

  &:hover {
    color: $title;
    &:before {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      top: 10%;
      left: 0;
      transition: all 300ms ease;
    }

    &:after {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: 10%;
      left: 0;
      transition: all 300ms ease;
      transition-delay: 200ms;

    }
  }
}

/*.active.menu-list-link{
  color: $main-w;
}*/


//-------------------------------Modal policy--------------------------//

#policy {
  z-index: 2000;
}

.policy-description {
  font-size: 1.5rem;
  text-align: justify;
  margin: 1rem 0;
}



//------------------------------About-------------------------------//

.about {
  margin-top: 8rem;
}

.tab-content>.active {
  display: flex !important;
}

.about-img-wrapper {
  border-radius: 1rem;
  overflow: hidden;
  img {
    display: block;
    max-width: 100%;
  }
}

.main-title {
  color: $title;
  font-size: 5.2rem;
}

.about-metro-title {
  color: $title;
  font-size: 2.6rem;
  font-family: "Proxima Nova Semibold", sans-serif;
  margin-bottom: 3rem;
}

.about-description {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
  text-align: justify;
  line-height: 1.22;
}

.advantages {
  font-size: 2.2rem;
  font-family: "Proxima Nova Semibold", sans-serif;
  line-height: 1.22;
  color: $title;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding-left: 2rem;
  text-align: justify;
}

.about-gallery {
  margin-top: 6rem;
}


.advantages-img {
  border-radius: 0.5rem;
  overflow: hidden;
  //margin-right: 1rem;
  margin-bottom: 3rem;
  max-width: 100%;
}


// -----------------------Modal form-short ------------------///


.form-short {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.form-short-input {
  border: 1px solid $no-active;
  padding: 0.7rem 1rem;
  color: $title;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  width: 100%;
}

.btn-form-short {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  height: 4rem;
  width: 26rem;
  color: $main-w;
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 1.8rem;
  border-radius: 0.6rem;
  margin-top: 3rem;
}

.form-short .form-note a{
  color: $title;
}

// -----------------------Offers---------------------//

.offers {
  font-size: 2.5rem;
  margin-top: 8rem;
}

.offers-carousel {
  margin-top: 6rem;
}

.carousel-block {
  border-radius: 0.8rem;
  border-bottom: 3px solid rgba(0,0,0,0.1);
}

.carousel-img-wrapper {
  display: block;
  border-radius: 0.8rem;
  /*max-height: 24rem;*/
  overflow: hidden;
}

.carousel-img-description {
  padding: 2rem 3rem;
}

.description-status {
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.description-area {
  font-size: 2.8rem;
  font-family: "Proxima Nova Semibold", sans-serif;
  color: $title;
  line-height: 1.21;
}

.description-price {
  font-size: 2.8rem;
  font-family: "Proxima Nova Regular", sans-serif;
  line-height: 1.21;
}

.description-metro {
  font-size: 2.2rem;
  font-family: "Proxima Nova Regular", sans-serif;
  color: $description;
}

.btn-no-active {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  height: 5.4rem;
  width: 26rem;
  color: $description;
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 1.8rem;
  border-radius: 0.6rem;
  background-color: $no-active;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  transition: all 0.5s;
}

//--------------------------Owl carousel ------------------------//

.carousel-nav {
  display: flex;
  justify-content: flex-end;
  font-size: 5.5rem;
  line-height: 1;
  padding-top: 1rem;

  .owl-prev, .owl-next {
    margin-right: 1.5rem;
    color: $title;
  }
}


//----------------------------Contacts ------------------------//

.contacts {
  margin-top: 12rem;
  margin-bottom: 4rem;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 2.4rem;
  color: $description;
}

.footer {
  position: relative;
}

.footer-form {
  position: absolute;
  top: 4rem;
  height: 660px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: $main-w;
  background-color: $title;
  padding: 9rem 3rem;
  z-index: 1002;
}

.form-subtitle {
  font-size: 2rem;
  font-family: "Proxima Nova Semibold", sans-serif;
  margin-bottom: 5rem;
  margin-top: -1rem;
}

.footer-form-input {
  border: 2px solid $main-w;
  border-radius: 0.3rem;
  padding: 0.7rem 1rem;
  color: $main-w;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.btn-footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  height: 4rem;
  width: 100%;
  color: $main-w;
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 1.8rem;
  border-radius: 0.6rem;

}

//---------------------------------Ajax form-----------------------------------//


form.ajax-form-successful::after {
  display: block;
  content: attr(data-successful);
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 1.2rem;
  color: darkgreen;
}

//-------------------------------------- Map ----------------------------//


.mark-iqpark, .mark-kapital, .mark-grafit, .mark-zolotoe {
  color: $main-w;
  border-radius: 0.3rem;
  padding: 0.2rem;
  font-size: 1.4rem;
}

.mark-iqpark {
  background-color: $iqpark;
}

.mark-kapital {
  background-color: $kapital;
}

.mark-grafit {
  background-color: $grafit;
}

.mark-zolotoe {
  background-color: $zolotoe;
}


////////////////color//////////////////

@each $color, $value in $theme-colors {
  .theme-#{$color}.price-old::after {
    border-top-color: $value !important;
  }

  .theme-#{$color}.price-new {
    color: $value !important;
  }

  .theme-#{$color}.btn-main {
    background-color: $value !important;
  }

  .form-check:checked+.theme-#{$color}.form-label::before {
    background-color: $value !important;
    border-color: $value !important;
  }

  .theme-#{$color}.circle {
    background-color: $value !important;
  }

  .theme-#{$color}.active.menu-list-link::after {
    width: 100% !important;
    background-color: $value !important;
  }

  .theme-#{$color}.menu-list-link::before,
  .theme-#{$color}.menu-list-link::after {
    background-color: $value !important;
  }

  .theme-#{$color}.menu-list-link:hover .menu-list-link::before,
  .theme-#{$color}.menu-list-link:hover .menu-list-link::after {
    background-color: $value !important;
  }

  .theme-#{$color}.btn-form-short {
    background-color: $value !important;
  }

  .theme-#{$color}.carousel-img-description .description-status,
  .theme-#{$color}.carousel-img-description .description-price {
    color: $value !important;
  }

  .theme-#{$color}.btn-no-active {
    &:hover {
      background-color: $value;
      color: $main-w;
    }
  }

  .theme-#{$color}.btn-footer-form {
    background-color: $value !important;
  }

}


@import "responsive";  /* always in the end!!*/
