@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('./ProximaNova-Semibold.eot');
    src: url('./ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('./ProximaNova-Semibold.woff') format('woff'),
    url('./ProximaNova-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}