@font-face {
    font-family: "Font Awesome";
    src: url('./FA-5-Free-Solid-900.eot');
    src: url('./FA-5-Free-Solid-900.eot?#iefix') format('embedded-opentype'),
    url('./FA-5-Free-Solid-900.woff') format('woff'),
    url('./FA-5-Free-Solid-900.ttf') format('truetype'),
    url("./FA-5-Free-Solid-900.otf");
    font-weight: 900;
    font-style: normal;
    font-variant: normal;

}